<div id="farm-view-divider">
<div id="farm-user-title">
    <div class="growing-view-farm-title" id="farm_name">Farm name</div>
</div>

<div class="farm-image-wrapper">
    <img id="farm-image" src="img/farm/farm_level_01.png">
</div>

<div class="farm-upgrade-view">
    <div class="farm-upgrade-view-title">
        <span>Upgrades</span>
    </div>
    <div id="farm-upgrade-items">
        <div class="farm-upgrade-view-level bg-red">
            <div class="farm-upgrade-button" >
                <div class="upgrade-item-title">
                    Farm level: <div id="farm_level" class="upgrade-item-level"></div>
                </div>

                <div class="farm-upgrade-img"><img src="img/icon/farm.png"></div>

                <div class="farm-upgrade-button-desc">Add more space for your plants to grow!</div>
                
                <div class="info-buttons-view">
                    <div class="full-width-item upgrade-item-level-info bg-dark height-3" id="farm-space-label"></div>
                    <div class="full-width-item farm-upgrade-button-price height-3" id="farm-upgrade-price">Loading...</div>
                    <div class="full-width-item btn-green height-3" id="farm_upgrade_button">Upgrade</div>
                </div>
                
            </div>

        </div>
        <div class="farm-upgrade-view-level bg-red" >
            
            <div class="farm-upgrade-button" >
                <div class="upgrade-item-title">
                    Light level: <div id="light_level" class="upgrade-item-level"></div>
                </div>
                <div class="farm-upgrade-img"> <img src="img/icon/light.png"> </div>
                <div class="farm-upgrade-button-desc">Increase the growing speed of your plants man!</div>
                
                <div class="info-buttons-view">
                    <div class="full-width-item upgrade-item-level-info bg-dark  height-3">
                        <div id="light_level_boost" ></div>
                    </div>
                    
                    <div class="full-width-item farm-upgrade-button-price  height-3">
                        <div id="light-upgrade-price">Loading...</div>
                    </div>
                    <div class="full-width-item btn-green height-3" id="light_upgrade_button">Upgrade</div>
                </div>
            </div>
        </div>
        <div class="farm-upgrade-view-level bg-red"  >
            
            <div class="farm-upgrade-button">
                <div class="upgrade-item-title">
                    Air vent level:<div id="air_level" class="upgrade-item-level"></div>
                </div>

                <div class="farm-upgrade-img">
                    <img src="img/icon/air.png">
                </div>

                <div class="farm-upgrade-button-desc">
                    Increase the quality of your weed!
                </div>

                <div class="info-buttons-view">
                    <div class="full-width-item upgrade-item-level-info bg-dark height-3"><div id="air_level_boost"></div></div>
                    <div class="full-width-item upgrade-item-level-info farm-upgrade-button-price height-3" id="air-upgrade-price">Loading...</div>
                    <div class="full-width-item btn-green height-3" id="air_upgrade_button">Upgrade</div>
                </div>
            </div>
            
        </div>


        <div class="farm-upgrade-view-level bg-red" >
            <div class="farm-upgrade-button" >
                <div class="upgrade-item-title">
                    Soil level:<div id="soil_level" class="upgrade-item-level"></div>
                </div>

                <div class="farm-upgrade-img">
                    <img src="img/icon/soil.png">
                </div>

                
                <div class="farm-upgrade-button-desc">
                    Increase the EXP earned when harvesting a plant!
                </div>

                <div class="info-buttons-view">
                    <div class="full-width-item upgrade-item-level-info bg-dark height-3"><div id="soil_level_boost"></div></div>
                    <div class="full-width-item farm-upgrade-button-price height-3" id="soil-upgrade-price">Loading...</div>
                    <div class="full-width-item btn-green height-3" id="soil_upgrade_button">Upgrade</div>
                </div>
            </div>
        </div>

        
    </div>
</div>