@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);




.top-image{
    position: fixed; top: 0; left: 0;
    height: 1920px;
    z-index: -5;
}
.top-image img{
    width: auto;
}
#profile_info_username{
    background-color: rgba(110, 155, 110, 1);

    font-size: 30px;
    color: white;
    padding: 5px;
    border-bottom: 7px solid black;
}
#profile_info_username span{
    padding: 15px;
}
#profile_info_div{
    color: white;

    background-color: rgba(50, 50, 70, 0.7);

    margin-left: 15%;
    margin-right: 15%;
    min-width: 400px;
    padding-bottom: 20px;
    height: auto;

    box-shadow: 5px 5px 70px #000000;
    margin-top: 200px;

    border: 3px groove black;

    z-index: 3;

}
#profile_info_level{
    font-size: 25px;
    display: inline-block;
    width: 150px;
    margin: 10px;
    border: 3px solid black;
}
#home_profile_picture{
    margin: 10px;
    border: 5px solid black;
    display: inline-block;
}
#profile_info_picture{
    width: 200px;
}
#home_profile_picture img{
    font-family: "exo", sans-serif;
    font-weight: 900;
    position: relative;
    background-color: white;
    color: black;
    width: 150px;
    height: 25px;
    display: block;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid black;
}
#home_wall{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    padding-top: 50px;

    width: 70%;

    z-index: 1;
}
#status_update_view{
    width: 60%;
    height: 70px;
    margin: auto;
    background-color: rgba(255, 255, 255, 1);
}
#status_update_view #status_form{

}
#status_update_view textarea{
    font-family: "exo", sans-serif;
    font-size: 25px;

    width: 100%;
    height: 100%;
    resize: none;
    background-color: rgba(255, 255, 255, 0.2);
}
#status_update_data{
    resize: none;
}
#status_update_view input{

    font-family: "exo", sans-serif;
    font-size: 25px;

    width: 70px;
    height: 35px;
    border: 2px solid black;

    background-color: rgba(50,50,50,0.6);

    display: block;
    float: left;
}
#status_update_view input[type=submit]{
    background-color: rgba(250,250,250,0.6);
}
#status_update_view #status_form input[type=submit]:hover{
    background-color: rgba(155,155,255,1);
}
#progressbar{
    border: 3px solid black;
    background-color: rgba(10,10,10,0.7);
    margin: 8px;
    width: 30%;
}

#progressbar #progressbar_filled {
    font-size: 15px;
    color: white;
    background-color: orange;
    height: 20px;
}
#progressbar #progressbar_empty{

}
#exp_status_text{
    width: 100px;
    margin-left: 13%;
}
.post_item{
    font-size: 25px;

    border: 2px solid black;

    margin-top: 30px;
    margin-bottom: 0px;

    margin-left: auto;
    margin-right: auto;
    color: white;
    width: 50%;
    height: auto;

    background-color: rgba(15,15,15, 0.5);
    box-shadow: 5px 1px 15px #000000;

    display: block;
}
.username_field{
    font-family: "exo", sans-serif;
    font-size: 20px;
    background-color: transparent;
    color: white;
    display: block;
    padding: 5px;
    text-decoration: none;
}
.username_field:hover{
    color: rgba(100,150,100,1);
}
.wall_post_from_name{
    font-size: 20px;
    font-weight: 900;
    padding: 5px;
    display: block;

    background-color: rgba(5,5,5,0.9);
}
.wall_post_from_name a{
    display: inline-block;
}
.wall_post_item_date{
    float: right;
    font-size: 15px;
}
.wall_post_item_upvotes{
    margin-top: 85px;
    margin-left: 5px;
    font-size: 14px;

    overflow: hidden;
    display: block;
}
.wall_post_item_comment_text{

    font-weight: 900;

    margin-left: 25px;
    border-left: 1px solid white;
    padding: 5px;

    word-break: break-all;

    width: 355px;

    display: inline-block;
}
.wall_post_from_picture{
    float: left;
    width: 94px;
    height: 94px;

}
.wall_post_from_picture img {
    max-height: 94px;
    height: 94px;
    width: 94px;

    margin: 5px;

    display: inline-table;
    border: 3px solid black;
}
.wall_post_upvote_btn button{

    font-family: "exo", sans-serif;
    font-size: 18px;
    font-weight: 900;

    background-color: white;
    border: 3px solid black;

    width: 80px;
    height: 30px;
    display: inline-table;
    margin: 10px;
}
.wall_post_upvote_btn button:hover{
    background-color: rgba(255,255,255,0.7);
    border: 3px solid black;
}
.wall_post_comment_view_title{

    font-size: 25px;
    font-weight: 900;

    margin-left: auto;
    margin-right: auto;

    width: 100px;
    height: 30px;

    display: block;
}
.wall_post_comment_view{

    width: 70%;
    margin-left: auto;
    margin-right: auto;

    margin-top: 5px;
}
.wall_post_comment_element{
    box-shadow: 3px 3px 15px #000000;
    border: 2px solid black;
    margin: auto;
    width: 50%;
}

.wall_post_comment_picture img{
    height: 64px;
    width: 64px;
    margin: 10px;
    border: 3px solid black;
    display: inline-block;
}
.wall_post_comment_username button:hover{
    border: 1px groove black;
    margin-left: 40px;
}
.wall_post_comment_username a{
    list-style: none;
    color: green;
}
.wall_post_comment_username{
    color: white;
    background-color: rgba(50,50,50,1);
}
.wall_post_comment_data{
    width: 50%;
    margin-left: 10px;

    font-size: 19px;

    display: inline-block;
}
.wall_post_comment_date{
    font-weight: 900;
    font-size: 15px;
    float: right;
}
.wall_post_comment_view_show_more{
    width: 30%;
    margin: auto;
}
.wall_post_comment_view_show_more button{
    width: 100%;

    font-family: "Exo", sans-serif;
    font-size: 20px;
    margin: 10px;

    background-color: rgba(150,150,150,0.5);
    border: 2px solid rgba(150,150,150,0.5);

}
.wall_post_write_comment .user_comment_image{
    width: 60px;
    height: 60px;
    float: left;
    margin: 0;
}

.wall_post_write_comment{
    display: none;

    margin-bottom: 125px;
    width: 70%;
    height: 60px;

    margin-left: auto;
    margin-right: auto;
}

.wall_post_write_comment textarea{
    font-size: 20px;
    font-family: "exo", sans-serif;

    width: 60%;

    margin-top: 5px;

    background-color: rgba(100,100,100,0.7);

    border: 2px solid black;

    margin-left: auto;
    margin-right: auto;

    display: block;

    resize: none;
}
.wall_post_button_comment button{
    font-family: "exo", sans-serif;
    font-size: 15px;
    font-weight: 900;

    margin: 10px;

    background-color: rgba(255,255,255,1);
    border: 3px solid black;

    width: 80px;
    height: 30px;

    display: block;
}
.wall_post_button_comment button:hover{
    background-color: rgba(255,255,255,0.7);
    border: 3px solid black;
}
.wall_post_write_comment .comment_post_post_button{
    background-color: rgba(200,200,200,1);
    width: 50px;
    margin-left: 30%;
    height: 35%;
    color: black;
    font-weight: 600;

    border: 2px solid black;
}


#wall_loading_div h1{
    margin: 10px;
}
#wall_loading_div{
    background-color: rgba(150,150,150, 0.4);
    border: 2px solid black;
    position: fixed; left: 45%; bottom: 50px;
    width: auto;
}
#profile_info_friend_status{
    width: 100px;
    margin-left: 15px;
    margin-top: 10px;
}
#add_friend_form input{
    font-family: "Exo", sans-serif;
    font-weight: 900;

    border: 2px solid black;
    width: 100px;
    height: 25px;
}

#profile_info_div ul li{
    list-style: none;
}
#info_view_bar{
    display: block;
    width: 15%;
    height: 700px;
    position: fixed; left: 0; top: 70px;
    background-color: rgba(50,50,50,0.8);
    color: white;
}

#info_view_bar .info_item{
    background-color: rgba(150,150,150,0.8);
}

.upload_form {

    display: none;

    font-family: "exo", sans-serif;
    font-size: 15px;
    font-weight: 500;

    color: white;

    position: fixed;
    margin-top: 150px;

    background-color: rgba(70, 70, 70, 0.5);
    width: 300px;
    padding: 15px;
    border: 2px solid black;
}
.upload_form input{
    background-color: rgba(190,190,190,1);

    width: 70%;

    color: black;
    margin-left: 10px;

    border: 2px solid black;
}
.upload_form input[type=submit]{
    margin-top: 5px;
    background-color: white;
    border: 2px solid black;
}


.btn-add-friend{
    padding-left: 15px;
    padding-right: 15px;
    height: 34px;
    color: black;
    font-weight: 600;
    font-family: inherit;
    border: 2px solid black;
    background-color: #ffffff;
    margin: 14px;
}

/*
        BUTTON

        Change profile picture -> Button;

        Style for the 'Change profile picture' button.
*/

#DEV_LOG{
    margin-left: 200px;
    margin-top: 200px;
}