
<link href="layout/lab_locked/lab_locked.less" rel="stylesheet">
<script src="layout/lab_locked/lab_locked.js" type="text/javascript"></script>

<div class="lab-locked-view">
	<div class="lab-locked-title">
		<span>LOCKED</span>
	</div>
	<div class="content">
		<div class="lab-locked-desc">
			<span>You need to unlock the lab first!</span> <br>
			To unlock the lab you need: 
			
			<div class="unlock-goal-item" id="goal-money">Loading price...</div>
			<div class="unlock-goal-item" id="goal-level">Loading level...</div>
		</div>

		<button class="button-unlock-lab" id="btn-lab-unlock">
			<span>Buy lab!</span>
		</button>
	</div>
</div>